$color-white: #fff;
$color-black: #000;
$color-grey: #b1bac2;
$color-winter-snow: #f0f3f2;
$color-dangerous-night: #212331;

$color-primary: #00bcd4;
$color-success: #018c3e;
$color-snow: #99a9b5;

$color-yellow: #d0e182;
$color-blue: #00bcd4;
$color-red: #f8574b;
$color-purple: #9a77d7;

$color-green: #00d4aa;
$color-blue: #3f70ca;

$color-border: #313646;
$color-background: #181828;
