*::before,
*::after {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
html {
	height: 100%;
}
body {
	overflow-x: hidden;
	height: 100%;
}
html,
body,
button,
a,
input,
select,
textarea {
	font-family: $font-primary;
}
html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	font-smoothing: antialiased;
}
body {
	font-size: 16px;
	line-height: 1.2;

	//overflow-x: hidden;
	margin: 0;

	// color: $color-txt;
	-webkit-font-smoothing: antialiased;
	-ms-scroll-limit-x-max: 100%;
	-ms-scroll-limit-x-min: 0;

	padding-top: 0;
}
input,
button {
	border-radius: 4px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
img {
	display: block;
	max-width: 100%;
}
.block-image {
	margin-bottom: 65px;
	&__image {
		margin: 0 auto;
		max-height: 600px;
	}
}
a:hover {
	color: $color-primary;
}
.page {
	min-height: calc(100vh - 106px);
}
// containers and rows
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.row {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
	&--column {
		flex-direction: column;
	}
}
.col {
	padding: 0 15px;
}
.block {
	padding: 95px 0;
}
.page-hero + section {
	margin-top: -4px !important;
}
.slick-slide,
.slick-slide * {
	outline: none !important;
}
