h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: 700;
}
.page-title {
	font-size: 80px;
	line-height: 90px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 90px;
}
.page-text {
	font-size: 24px;
	line-height: 37px;
	font-weight: 300;
}
.block-title {
	text-align: center;
	font-size: 50px;
	line-height: 69px;
	letter-spacing: 2.5px;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.block-description {
	color: $color-grey;
	padding: 0 15px;
	font-family: $font-heading;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	line-height: 24px;
	letter-spacing: 0.8px;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 120px;
}
.block-list {
	font-weight: 700;
	display: flex;
	justify-content: center;
	font-style: 16px;
	text-transform: uppercase;
	font-family: $font-heading;
	&__elem {
		padding: 0 35px;

		color: $color-yellow;
		&:nth-child(2) {
			color: $color-blue;
		}
		&:nth-child(3) {
			color: $color-red;
		}
		&:nth-child(4) {
			color: $color-purple;
		}
	}
}
.col-title {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.info-title {
	text-transform: uppercase;
	font-size: 19px;
	margin-bottom: 30px;
}
.info-text {
	line-height: 25px;
	font-size: 16px;
	color: $color-snow;
}
